{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vid30 - One&Only Decentralized Streaming Platform</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="" name="keywords" />
    <meta
      content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport"
    />
    <!-- Vid30 v1.0 || ex jynadal || December 2024 -->
    <!-- style start -->
    <link
      href="{% static 'landingpage/css/plugins.css' %}"
      media="all"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'landingpage/css/style.css' %}"
      media="all"
      rel="stylesheet"
      type="text/css"
    />
    <!-- style end -->

    <!-- start script -->
    <script>
      // Variable globale contenant le chemin de base des fichiers statiques
      const staticUrl = "{% static 'static/landingpage' %}";
    </script>
    <!-- script end -->

    <!-- google fonts start -->
    <link
      href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7COswald:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- google fonts end -->
  </head>
  <body>
    <!-- preloader start -->
    <div class="preloader-bg"></div>
    <div id="preloader">
      <div id="preloader-status">
        <div class="preloader-position loader">
          <span></span>
        </div>
      </div>
    </div>
    <!-- preloader end -->
    <!-- multiScroll start -->
    <div id="ms-wrapper">
      <!-- menu button start -->
      <div class="menu-btn open-menu-content right-position">
        <span></span> <span></span> <span></span>
      </div>
      <!-- menu button end -->
      <!-- menu container left start -->
      <div class="menu-container-left">
        <!-- go full screen start -->
        <div class="full-screen-wrapper">
          <a
            class="template-image menu-bg-img"
            data-caption="Dolor sit amet."
            data-image="{% static 'landingpage/img/menu/menu-bg.jpg' %}"
            data-title="Lorem ipsum"
            href="#"
            ><span class="fullscreen icon-resize-enlarge"></span
          ></a>
        </div>
        <!-- go full screen end -->
        <!-- menu overlay start -->
        <div
          class="menu-overlay overlay overlay-all overlay-dark-75 cover-all"
        ></div>
        <!-- menu overlay end -->
        <!-- menu bg start -->
        <div class="menu-bg"></div>
        <!-- menu bg end -->
      </div>
      <!-- menu container left end -->
      <!-- menu container right start -->
      <div class="menu-container-right">
        <!-- center table start -->
        <div class="box-table">
          <!-- center box start -->
          <div class="box-cell">
            <!-- menu ul start -->
            <nav>
              <ul class="main-menu">
                <li data-menuanchor="home">
                  <a
                    class="menu-item hvr-shutter-out-horizontal active"
                    href="#home"
                    >Home</a
                  >
                </li>
                <li data-menuanchor="about">
                  <a class="menu-item hvr-shutter-out-horizontal" href="#about"
                    >About</a
                  >
                </li>
                <li data-menuanchor="works">
                  <a class="menu-item hvr-shutter-out-horizontal" href="#works"
                    >Services</a
                  >
                </li>
                <li data-menuanchor="contact">
                  <a
                    class="menu-item hvr-shutter-out-horizontal"
                    href="#contact"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
            <!-- menu ul end -->
          </div>
          <!-- center box end -->
        </div>
        <!-- center table end -->
      </div>
      <!-- menu container right end -->
      <!--  left side start -->
      <div class="ms-left animated">
        <!-- left 1 start -->
        <div class="ms-section" id="left-1">
          <!-- logo start -->
          <a class="logo left-position"> <div class="logo-img"></div> </a
          ><!-- logo end -->
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="left-bg-1"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- introduction start -->
            <div class="hero-center-container-left right-position">
              <!-- section TXT start -->
              <div class="social-icons">
                <!-- social icons start -->
                <ul>
                  <li>
                    <a class="ion-social-linkedin" href="#"
                      ><span>Linkedinn</span></a
                    >
                  </li>
                  <li>
                    <a class="ion-social-twitter" href="#"
                      ><span>Twitter</span></a
                    >
                  </li>
                  <li>
                    <a class="ion-social-facebook" href="#"
                      ><span>Facebook</span></a
                    >
                  </li>
                  <li>
                    <a class="ion-social-instagram" href="#"
                      ><span>Instagram</span></a
                    >
                  </li>
                </ul>
                <!-- social icons end -->
              </div>
              <!-- section TXT end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h1 class="hero-heading">
                <i class="hero-heading-xs">Creative</i><br />
                <span>Vid30</span> Movies
              </h1>
              <!-- section title end -->
              <!-- divider start -->
              <div class="inner-divider-half"></div>
              <!-- divider end -->
              <!-- section subtitle start -->
              <h2>Awesome Streaming Platform</h2>
              <!-- section subtitle end -->
            </div>
            <!-- introduction end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- left 1 end -->

        <!-- left 2 start -->
        <div class="ms-section" id="left-2">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="about-bg-left"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- section title start -->
            <h2 class="post-title">About</h2>
            <!-- section title end -->
            <!-- divider start -->
            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- section subtitle start -->
            <h2 class="section-heading"><span>01.</span> What we do</h2>
            <!-- section subtitle end -->
            <!-- container start -->
            <div class="sections">
              <!-- divider start -->
              <div class="inner-divider-large"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h1 class="section-header section-header-xs">
                available on <span>98%</span> of existing movies.<br />
                <span>buy</span>, <span>sell</span> &amp; <span>swap</span> your
                movie.<br />
                it's an <span>Advertising</span> Video On Demand.
              </h1>
              <!-- section title end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- left 2 end -->

        <!-- left 3 start -->
        <div class="ms-section" id="left-3">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="works-bg-left"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- section title start -->
            <h2 class="post-title">Services</h2>
            <!-- section title end -->
            <!-- divider start -->
            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- section subtitle start -->
            <h2 class="section-heading"><span>02.</span> What it look like</h2>
            <!-- section subtitle end -->
            <!-- container start -->
            <div class="sections">
              <!-- divider start -->
              <div class="inner-divider-large"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h1 class="section-header section-header-xs">
                A <span>Thinking outside the box</span> mindset.<br />
                We build on <span>web3</span> by need.<br />
                {% comment %} Without
                <span>overthinking about blitz</span> comming.<br />
                {% endcomment %} We are <span>resilent</span>,
                <span>frugal</span> with
                <span>flibuster mindset.</span>
              </h1>
              <!-- section title end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- left 3 end -->

        <!-- left 4 start -->
        <div class="ms-section" id="left-4">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="contact-bg-left"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- section title start -->
            <h2 class="post-title">Contact</h2>
            <!-- section title end -->
            <!-- divider start -->
            <div class="inner-divider-half"></div>
            <!-- divider end -->
            <!-- section subtitle start -->
            <h2 class="section-heading"><span>03.</span> Get in touch</h2>
            <!-- section subtitle end -->
            <!-- container start -->
            <div class="sections">
              <!-- divider start -->
              <div class="inner-divider-large"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h1 class="section-header section-header-xs">
                Vid30 TV. <br />
                Paris France

                <br />
                <span>+33 6 30 00 15 16</span>.
              </h1>
              <!-- section title end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- left 4 end -->
      </div>
      <!--  left side end -->

      <!--  right side start -->
      <div class="ms-right animated" id="right-part">
        <!-- right 1 start -->
        <div class="ms-section" id="right-1">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="right-bg-1"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- introduction start -->
            <div id="storage">
              <div class="hero-center-container-right left-position">
                <!-- section subtitle start -->
                <h2>On 2025, We're Working On DVD and VHS!</h2>
                <!-- section subtitle end -->
                <!-- divider start -->
                <div class="inner-divider-half"></div>
                <!-- divider end -->
                <!-- countdown start -->
                <div class="countdown-content">
                  <!-- section title start -->
                  <span class="timeRefDays hero-heading hero-heading-countdown"
                    >almost
                  </span>
                  <span class="days hero-heading hero-heading-countdown">
                    the number of
                  </span>
                  <span class="timeRefDays hero-heading hero-heading-countdown"
                    >Netflix</span
                  >
                  <span class="days hero-heading hero-heading-countdown">
                    films!</span
                  >
                  <!-- section title end -->
                </div>
                <!-- countdown end -->
                <!-- divider start -->
                <div class="inner-divider-half"></div>
                <!-- divider end -->
                <!-- section subtitle start -->
                <h2>Why not Adding your!</h2>
                <!-- section subtitle end -->
                <!-- divider start -->
                <div class="inner-divider"></div>
                <!-- divider end -->
                <!-- newsletter form start -->
                <div id="subscribe-wrapper">
                  <div id="newsletter">
                    <div class="newsletter">
                      {% comment %}
                      <form
                        action="subscribe.php"
                        id="subscribe"
                        method="post"
                        name="subscriber_email"
                      >
                        <input
                          class="subscribe-requiredField subscribe-email"
                          id="subscribe-email"
                          name="subscribe-email"
                          placeholder="1 To 10 films"
                          type="text"
                        />
                        <input
                          class="subscribe-requiredField subscribe-email"
                          id="subscribe-email"
                          name="subscribe-email"
                          placeholder="Email"
                          type="text"
                        />
                        {% endcomment %}
                        <div>
                          <h1>
                            Hi, {{email}} <br />Thank for subscribing to Vid30.
                          </h1>
                          <p>We are excited to have you on board.</p>
                          <p>Thank You!</p>
                        </div>
                        <!-- button start -->
                        <div class="newsletter-form-submit-wrapper">
                          <button
                            class="the-button the-button-contact the-button-submit"
                            id="#contact"
                            type="submit"
                          >
                            <span>Contact US</span>
                          </button>
                        </div>
                        <!-- button end -->
                      </form>
                    </div>
                  </div>
                </div>
                <!-- newsletter form end -->
              </div>
            </div>
            <!-- introduction end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- right 1 end -->
        <!-- right 2 start -->
        <div class="ms-section" id="right-2">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="about-bg-right"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- container start -->
            <div class="sections">
              <!-- owl carousel start -->
              <div class="owl-carousel-FIX-about">
                <div class="about-section">
                  <div class="about-slider owl-carousel">
                    <!-- post item 1 start -->
                    <div>
                      <!-- section subtitle start -->
                      <h3>Managing Powerful Web3</h3>
                      <!-- section subtitle end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h4 class="post-all-heading">
                        Real World Asset<br />
                        <span>VDTK</span>
                      </h4>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section subtitle start -->
                      <h5>Mint, Store and manage</h5>
                      <!-- section subtitle end -->
                    </div>
                    <!-- post item 1 end -->
                    <!-- post item 2 start -->
                    <div>
                      <!-- section subtitle start -->
                      <h3>Buy, Sell or Swap</h3>
                      <!-- section subtitle end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h4 class="post-all-heading">
                        Marketplace<br />
                        <span>Bankable</span>
                      </h4>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section subtitle start -->
                      <h5>Opensea, Theta, ... .</h5>
                      <!-- section subtitle end -->
                    </div>
                    <!-- post item 2 end -->
                    <!-- post item 3 start -->
                    <div>
                      <!-- section subtitle start -->
                      <h3>Watching them everywhere</h3>
                      <!-- section subtitle end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h4 class="post-all-heading">
                        AVOD<br />
                        <span>Vid30 TV</span>
                      </h4>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="inner-divider-half"></div>
                      <!-- divider end -->
                      <!-- section subtitle start -->
                      <h5>Kodi, Smart TVs, desktop, ...</h5>
                      <!-- section subtitle end -->
                    </div>
                    <!-- post item 3 end -->
                  </div>
                </div>
              </div>
              <!-- owl carousel end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- right 2 end -->
        <!-- right 3 start -->
        <div class="ms-section" id="right-3">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="works-bg-right"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- container start -->
            <div class="sections">
              <!-- portfolio start -->
              <div class="owl-carousel-FIX-works">
                <!-- works carousel start -->
                <div class="owl-carousel borders" id="works-page-img-carousel">
                  <!-- works carousel item 1 start -->
                  {% comment %}
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-1"
                    >
                      <!-- works item IMG hover effect start -->
                      <a
                        class="item-shade popup-photo-single"
                        href="{% static 'landingpage/img/works/works-single/single-1.jpg' %}"
                        title="Image description"
                      ></a
                      ><!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>Movie collection</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Onboarding</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  {% endcomment %}
                  <!-- works carousel item 1 end -->

                  <!-- works carousel item 1 start -->
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-2"
                    >
                      <!-- works item IMG hover effect start -->
                      <a
                        class="item-shade"
                        data-lity=""
                        href="https://www.youtube.com/watch?v=WZoNKA5gqd0"
                      ></a
                      ><!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>Movie collection</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Onboarding Video</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  <!-- works carousel item 1 end -->

                  <!-- works carousel item 2 start -->
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-2"
                    >
                      <!-- works item IMG hover effect start -->
                      <a
                        class="item-shade"
                        data-lity=""
                        href="https://www.youtube.com/watch?v=YFS_7NEsCC4"
                      ></a
                      ><!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>Marketplace</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Level 2 Video</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  <!-- works carousel item 2 end -->

                  <!-- works carousel item 3 start -->
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-2"
                    >
                      <!-- works item IMG hover effect start -->
                      <a
                        class="item-shade"
                        data-lity=""
                        href="https://www.youtube.com/watch?v=paIY9Hc--s0"
                      ></a
                      ><!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>On Streaming</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Samsung TV</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  <!-- works carousel item 3 end -->

                  <!-- works carousel item 4 start -->
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-3"
                    >
                      <!-- works item IMG hover effect start -->
                      <div class="popup-photo-gallery">
                        <a
                          class="item-shade"
                          href="{% static 'landingpage/img/works/works-gallery/gallery-1.jpg' %}"
                          title="Gallery / Image description 1"
                        ></a>
                        <a
                          href="{% static 'landingpage/img/works/works-gallery/gallery-2.jpg' %}"
                          title="Gallery / Image description 2"
                        ></a>
                        <a
                          href="{% static 'landingpage/img/works/works-gallery/gallery-3.jpg' %}"
                          title="Gallery / Image description 3"
                        ></a>
                      </div>
                      <!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>All Streaming Platform</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Images gallery</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  <!-- works carousel item 4 end -->

                  <!-- works carousel item 5 start -->
                  <div class="item item-grid-size">
                    <div
                      class="works-page-carousel-item works-page-carousel-item-4"
                    >
                      <!-- works item IMG hover effect start -->
                      <a
                        class="item-shade"
                        data-lity=""
                        href="https://vimeo.com/29042580"
                      ></a
                      ><!-- works item IMG hover effect end -->
                      <!-- works item description start -->
                      <div class="description">
                        <!-- section title start -->
                        <h3>Others</h3>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                        <!-- section subtitle start -->
                        <div class="description-second">Vimeo Video</div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="inner-divider-xs"></div>
                        <!-- divider end -->
                      </div>
                      <!-- works item description end -->
                    </div>
                  </div>
                  <!-- works carousel item 5 end -->
                </div>
                <!-- works carousel end -->
              </div>
              <!-- portfolio end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- right 3 end -->
        <!-- right 4 start -->
        <div class="ms-section" id="right4">
          <!-- bg IMG start -->
          <div
            class="overlay overlay-all overlay-dark-75 cover-all"
            id="contact-bg-right"
          ></div>
          <!-- bg IMG end -->
          <!-- content wrapper start -->
          <div class="content-wrapper">
            <!-- container start -->
            <div class="sections">
              <!-- contact form start -->
              <div id="contact-form">
                <form id="form" method="post" name="send">
                  {% csrf_token %}
                  <!-- col start -->
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <input
                      class="requiredField name"
                      id="name"
                      name="name"
                      placeholder="Name"
                      type="text"
                    />
                  </div>
                  <!-- col end -->
                  <!-- col start -->
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <input
                      class="requiredField email"
                      id="email"
                      name="email"
                      placeholder="Email"
                      type="text"
                    />
                  </div>
                  <!-- col end -->
                  <!-- col start -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <input
                      class="requiredField subject"
                      id="subject"
                      name="subject"
                      placeholder="Subject"
                      type="text"
                    />
                  </div>
                  <!-- col end -->
                  <!-- col start -->
                  <div class="make-space">
                    <textarea
                      class="requiredField message"
                      id="message"
                      name="message"
                      placeholder="Message"
                    ></textarea>
                  </div>
                  <!-- col end -->
                  <div>
                    <!-- button start -->
                    <div class="contact-form-submit-wrapper">
                      <button
                        class="the-button the-button-contact the-button-submit"
                        id="submit"
                        type="submit"
                      >
                        <span>Submit Contact</span>
                      </button>
                    </div>
                    <!-- button end -->
                  </div>
                </form>
              </div>
              <!-- contact form end -->
            </div>
            <!-- container end -->
          </div>
          <!-- content wrapper end -->
        </div>
        <!-- right 4 end -->
      </div>
      <!--  right side end -->
    </div>
    <!-- multiScroll end -->
    <!-- scripts start -->
    <script src="{% static 'landingpage/js/plugins.js' %}"></script>
    <script src="{% static 'landingpage/js/script.js' %}"></script>
    <!-- scripts end -->
  </body>
</html>
